# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/
.coverage
htmlcov/

# Databases
*.db
*.sqlite3

# PyInstaller
build/
dist/
*.spec
_pyinstaller_hooks_contrib/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# User Uploads (persistent data)
billerpy/uploads/
uploads/
nunu/
